---
import DefaultLayout from "../layouts/default.astro";
import StorybookBlock from "../components/storybook-block";
---

<DefaultLayout>
  <div class="relative">
    <StorybookBlock />
  </div>
</DefaultLayout>
