---
import DefaultLayout from "../layouts/default.astro";
import {CodesandboxIcon } from 'lucide-react';
// import ProdktGrid from "@components/prodkt-grid"

// import TracerCard from "@/registry/new-york/prodkt/effect-card/tracer-card";
---

<DefaultLayout>
  <div class="flex flex-col gap-4">
  <div class="flex flex-row gap-4">
<div class="nextsale-btn">
  <CodesandboxIcon />
    Login
</div>
<div class="nextsale-btn primary">
  <CodesandboxIcon />
    Login
  </div>
  <div class="nextsale-btn secondary">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn ghost">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn accent">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn success">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn warning">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn info">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn outlined">
    <CodesandboxIcon />
      Login
  </div>
</div>




<div class="flex flex-row gap-4">
  <div class="nextsale-btn outlined">
  <CodesandboxIcon />
    Login
  </div>
  <div class="nextsale-btn outlined primary">
  <CodesandboxIcon />
    Login
  </div>
  <div class="nextsale-btn outlined secondary">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn outlined ghost">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn outlined accent">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn outlined success">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn outlined warning">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn outlined info">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn outlined destructive">
    <CodesandboxIcon />
      Login
  </div>
  </div>


<div class="flex flex-row gap-4">
<div class="nextsale-btn small">
<CodesandboxIcon />
  Login
</div>
<div class="nextsale-btn small primary">
<CodesandboxIcon />
  Login
</div>
<div class="nextsale-btn small secondary">
  <CodesandboxIcon />
    Login
</div>
<div class="nextsale-btn small ghost">
  <CodesandboxIcon />
    Login
</div>
<div class="nextsale-btn small accent">
  <CodesandboxIcon />
    Login
</div>
<div class="nextsale-btn small success">
  <CodesandboxIcon />
    Login
</div>
<div class="nextsale-btn small warning">
  <CodesandboxIcon />
    Login
</div>
<div class="nextsale-btn small info">
  <CodesandboxIcon />
    Login
</div>
<div class="nextsale-btn small outlined">
  <CodesandboxIcon />
    Login
</div>
</div>


<div class="flex flex-row gap-4">
  <div class="nextsale-btn small outlined">
  <CodesandboxIcon />
    Login
  </div>
  <div class="nextsale-btn small outlined primary">
  <CodesandboxIcon />
    Login
  </div>
  <div class="nextsale-btn small outlined secondary">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn small outlined ghost">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn small outlined accent">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn small outlined success">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn small outlined warning">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn small outlined info">
    <CodesandboxIcon />
      Login
  </div>
  <div class="nextsale-btn small outlined destructive">
    <CodesandboxIcon />
      Login
  </div>
  </div>

</div>
</DefaultLayout>
