@import "./colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, :root[data-theme="light"], .light, .light-theme, .dark, .dark-theme, .dark .themes-wrapper, .dark [data-chart] {

    --background: var(--gray-1);
    --foreground: var(--gray-12);
    --card: var(--gray-1);
    --card-foreground: var(--gray-11);
    --secondary: var(--gray-4);
    --secondary-foreground: var(--gray-12);
    --muted: var(--gray-4);
    --muted-foreground: var(--gray-11);
    --accent: var(--gray-4);
    --accent-foreground: var(--gray-12);

    --radius-base: 0.5rem;
    --radius: var(--radius-base);
    --radius-sm: calc(var(--radius) * 1);
    --radius-md: calc(var(--radius-sm) + 0.125rem);
    --radius-lg: calc(var(--radius-md) + 0.125rem);
    --radius-xl: calc(var(--radius-lg) + 0.125rem);
    --radius-2xl: calc(var(--radius-xl) + 0.125rem);

    --chart-1: var(--gray-3);
    --chart-2: var(--gray-2);
    --chart-3: var(--gray-4);
    --chart-4: var(--gray-5);
    --chart-5: var(--gray-6);

    --sidebar-background: var(--gray-2);
    --sidebar-foreground: var(--gray-11);
    --sidebar-primary: var(--gray-10);
    --sidebar-primary-foreground: var(--gray-1);
    --sidebar-accent: var(--gray-4);
    --sidebar-accent-foreground: var(--gray-11);
    --sidebar-border: var(--gray-5);
    --sidebar-ring: var(--gray-5);


    --primary: var(--primary-8);
    --primary-hover: var(--primary-8);
    --primary-active: var(--primary-8);
    --primary-selected: var(--primary-8);
    --primary-focus: var(--primary-1);
    --primary-disabled: var(--primary-1);
    --primary-inverse: var(--primary-1);
    --primary-text: var(--primary-1);
    --primary-foreground: var(--primary-12);
    --primary-inverse-hover: var(--primary-1);
    --primary-inverse-active: var(--primary-1);
    --primary-inverse-selected: var(--primary-1);
    --primary-inverse-focus: var(--primary-1);
    --primary-inverse-disabled: var(--primary-1);
    --primary-text-inverse: var(--primary-1);
    --primary-foreground-inverse: var(--primary-12);

    --destructive: var(--tomato-8);
    --destructive-hover: var(--tomato-9);
    --destructive-active: var(--tomato-8);
    --destructive-selected: var(--tomato-8);
    --destructive-focus: var(--tomato-1);
    --destructive-disabled: var(--tomato-1);
    --destructive-inverse: var(--tomato-1);
    --destructive-text: var(--tomato-10);
    --destructive-foreground: var(--tomato-12);
    --destructive-inverse-hover: var(--tomato-1);
    --destructive-inverse-active: var(--tomato-1);
    --destructive-inverse-selected: var(--tomato-1);
    --destructive-inverse-focus: var(--tomato-1);
    --destructive-inverse-disabled: var(--tomato-1);
    --destructive-text-inverse: var(--tomato-1);
    --destructive-foreground-inverse: var(--tomato-12);
    --destructive-1: var(--tomato-1);
    --destructive-2: var(--tomato-2);
    --destructive-3: var(--tomato-3);
    --destructive-4: var(--tomato-4);
    --destructive-5: var(--tomato-5);
    --destructive-6: var(--tomato-6);
    --destructive-7: var(--tomato-7);
    --destructive-8: var(--tomato-8);
    --destructive-9: var(--tomato-9);
    --destructive-10: var(--tomato-10);
    --destructive-11: var(--tomato-11);
    --destructive-12: var(--tomato-12);
    --destructive-a1: var(--tomato-a1);
    --destructive-a2: var(--tomato-a2);
    --destructive-a3: var(--tomato-a3);
    --destructive-a4: var(--tomato-a4);
    --destructive-a5: var(--tomato-a5);
    --destructive-a6: var(--tomato-a6);
    --destructive-a7: var(--tomato-a7);
    --destructive-a8: var(--tomato-a8);
    --destructive-a9: var(--tomato-a9);
    --destructive-a10: var(--tomato-a10);
    --destructive-a11: var(--tomato-a11);
    --destructive-a12: var(--tomato-a12);


    --link: var(--primary-10);
    --link-hover: var(--primary-11);
    --link-active: var(--primary-11);
    --link-focus: var(--primary-11);
    --link-disabled: var(--primary-8);
    --link-selected: var(--primary-11);

    --border: var(--gray-a4);
    --border-hover: var(--gray-a5);
    --border-active: var(--gray-a5);
    --border-disabled: var(--gray-a3);
    --border-selected: var(--gray-a5);

    --input: var(--gray-a5);
    --input-hover: var(--gray-a4);
    --input-active: var(--gray-a5);
    --input-disabled: var(--gray-a2);
    --input-selected: var(--gray-a6);

    --ring: var(--gray-5);
    --ring-hover: var(--gray-a4);
    --ring-active: var(--gray-a5);
    --ring-disabled: var(--gray-a2);
    --ring-selected: var(--gray-a6);

    --brand: var(--iris-1);
    --brand-hover: var(--iris-1);
    --brand-active: var(--iris-1);
    --brand-selected: var(--iris-1);
    --brand-focus: var(--iris-1);
    --brand-disabled: var(--iris-1);
    --brand-inverse: var(--iris-1);
    --brand-text: var(--iris-1);
    --brand-foreground: var(--iris-12);
    --brand-inverse-hover: var(--iris-1);
    --brand-inverse-active: var(--iris-1);
    --brand-inverse-selected: var(--iris-1);
    --brand-inverse-focus: var(--iris-1);
    --brand-inverse-disabled: var(--iris-1);
    --brand-text-inverse: var(--iris-1);
    --brand-foreground-inverse: var(--iris-12);

    --popover: var(--gray-1);
    --popover-hover: var(--gray-1);
    --popover-active: var(--gray-1);
    --popover-selected: var(--gray-1);
    --popover-focus: var(--gray-1);
    --popover-disabled: var(--gray-1);
    --popover-inverse: var(--gray-1);
    --popover-inverse-hover: var(--gray-1);
    --popover-inverse-active: var(--gray-1);
    --popover-inverse-selected: var(--gray-1);
    --popover-inverse-focus: var(--gray-1);
    --popover-inverse-disabled: var(--gray-1);
    --popover-text: var(--gray-12);
    --popover-text-inverse: var(--gray-1);
    --popover-foreground: var(--gray-11);
    --popover-foreground-inverse: var(--gray-1);

    --card: var(--gray-1);
    --card-hover: var(--gray-1);
    --card-active: var(--gray-1);
    --card-selected: var(--gray-1);
    --card-focus: var(--gray-1);
    --card-disabled: var(--gray-1);
    --card-inverse: var(--gray-1);
    --card-inverse-hover: var(--gray-1);
    --card-inverse-active: var(--gray-1);
    --card-inverse-selected: var(--gray-1);
    --card-inverse-focus: var(--gray-1);
    --card-inverse-disabled: var(--gray-1);
    --card-text: var(--gray-12);
    --card-text-inverse: var(--gray-1);
    --card-foreground: var(--gray-11);
    --card-foreground-inverse: var(--gray-1);
  }

  /* .dark {
    --background: var(--background);
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 100%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 4.9% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
    border-color: var(--border);
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis: none;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @supports (font: "var(--font-sans)", -apple-system-body, sans-serif) and
    (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  .sparkstack-border {
    @apply border border-gray-3 ring-1 ring-gray-4 ring-offset-1 ring-offset-gray-2;
  }
  .sparkstack-input {
    @apply border border-gray-3 ring-1 ring-gray-4 ring-offset-1 ring-offset-gray-2;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex items-center justify-center font-mono text-base font-medium text-center border-4 rounded-full w-9 h-9 bg-muted -indent-px border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute border shadow-xl -inset-4 rounded-xl;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
