@import "./colors.css";
@import "./sparkstack_fonts.css";
@import "./sparkstack_custom.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, :root[data-theme="light"], .light, .light-theme, .dark, .dark-theme, .dark .themes-wrapper, .dark [data-chart] {
    --font-mono: "IBM Plex Mono", monospace;
    --mono-font: "IBM Plex Mono", monospace;
    --font-sans: "custom-font", sans-serif;
    --font-serif: "custom-font", serif;

    --font-base: 1rem;
    --line-height-base: 0.75rem;

    --background-radial-gradient: linear-gradient(88deg, rgba(0, 0, 0, 0.0) 00.75%, var(--primary-a7) 23.55%, rgba(0, 0, 0, 0.0) 45%, var(--primary-a7) 63.87%, rgba(0, 0, 0, 0.0) 71.08%), linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), linear-gradient(80deg, rgba(0, 0, 0, 0.0) 00.75%, var(--primary-a7) 13.55%, rgba(0, 0, 0, 0.0) 25%, var(--primary-a3) 53.87%, rgba(0, 0, 0, 0.0) 81.08%), rgba(255,255,255,0.10);

    --background: var(--gray-1);

    --foreground: var(--gray-12);
    --foreground-hover: var(--gray-11);
    --foreground-active: var(--gray-11);
    --foreground-selected: var(--gray-9);

    --radius-base: 0.5rem;
    --radius: var(--radius-base);
    --radius-xs: calc(var(--radius-sm) - 0.125rem);
    --radius-sm: calc(var(--radius) * 1);
    --radius-md: calc(var(--radius-sm) + 0.125rem);
    --radius-lg: calc(var(--radius-md) + 0.125rem);
    --radius-xl: calc(var(--radius-lg) + 0.125rem);
    --radius-2xl: calc(var(--radius-xl) + 0.125rem);
    --radius-3xl: calc(var(--radius-2xl) + 0.125rem);
    --radius-4xl: calc(var(--radius-3xl) + 0.125rem);

    --chart-1: var(--primary-a10);
    --chart-2: var(--green-a9);
    --chart-3: var(--orange-a10);
    --chart-4: var(--blue-a9);
    --chart-5: var(--crimson-a9);
    --color-1: var(--primary-a10);
    --color-2: var(--green-a9);
    --color-3: var(--orange-a10);
    --color-4: var(--blue-a9);
    --color-5: var(--crimson-a9);

    --color-today: var(--primary-9);
    --color-average: var(--gray-8);
    --color-desktop: var(--chart-1);
    --color-mobile: var(--chart-2);

    --sidebar-background: var(--gray-a2);
    --sidebar-foreground: var(--gray-11);
    --sidebar-primary: var(--gray-1);
    --sidebar-primary-foreground: var(--gray-9);
    --sidebar-accent: var(--gray-4);
    --sidebar-accent-foreground: var(--gray-11);
    --sidebar-border: var(--gray-a3);
    --sidebar-ring: var(--gray-5);

    --muted: var(--gray-a7);
    --muted-hover: var(--gray-a5);
    --muted-active: var(--gray-a5);
    --muted-selected: var(--gray-a5);
    --muted-focus: var(--gray-a5);
    --muted-disabled: var(--gray-a3);
    --muted-inverse: var(--gray-a1);
    --muted-foreground: var(--gray-11);
    --muted-text: var(--gray-a8);


    --primary: var(--primary-8);
    --primary-hover: var(--primary-8);
    --primary-active: var(--primary-8);
    --primary-selected: var(--primary-8);
    --primary-focus: var(--primary-1);
    --primary-disabled: var(--primary-7);
    --primary-inverse: var(--primary-1);

    --primary-text: var(--primary-12);
    --primary-text-inverse: var(--primary-1);

    --primary-inverse-hover: var(--primary-1);
    --primary-inverse-active: var(--primary-1);
    --primary-inverse-selected: var(--primary-1);
    --primary-inverse-focus: var(--primary-1);
    --primary-inverse-disabled: var(--primary-1);

    --primary-overlay: var(--primary-a11);
    --primary-overlay-hover: var(--primary-a10);
    --primary-overlay-active: var(--primary-a10);
    --primary-overlay-selected: var(--primary-a11);

    --primary-muted: var(--primary-2);
    --primary-muted-hover: var(--primary-3);
    --primary-muted-active: var(--primary-4);
    --primary-muted-selected: var(--primary-5);

    --primary-foreground: var(--primary-12);
    --primary-foreground-hover: var(--primary-12);
    --primary-foreground-active: var(--primary-12);
    --primary-foreground-selected: var(--primary-12);
    --primary-foreground-inverse: var(--primary-2);

    --secondary: var(--secondary-8);
    --secondary-hover: var(--secondary-8);
    --secondary-active: var(--secondary-8);
    --secondary-selected: var(--secondary-8);
    --secondary-focus: var(--secondary-1);
    --secondary-disabled: var(--secondary-7);
    --secondary-inverse: var(--secondary-1);

    --secondary-text: var(--secondary-12);
    --secondary-text-inverse: var(--secondary-1);

    --secondary-inverse-hover: var(--secondary-1);
    --secondary-inverse-active: var(--secondary-1);
    --secondary-inverse-selected: var(--secondary-1);
    --secondary-inverse-focus: var(--secondary-1);
    --secondary-inverse-disabled: var(--secondary-1);

    --secondary-overlay: var(--secondary-a11);
    --secondary-overlay-hover: var(--secondary-a10);
    --secondary-overlay-active: var(--secondary-a10);
    --secondary-overlay-selected: var(--secondary-a11);

    --secondary-muted: var(--secondary-2);
    --secondary-muted-hover: var(--secondary-3);
    --secondary-muted-active: var(--secondary-4);
    --secondary-muted-selected: var(--secondary-5);

    --secondary-foreground: var(--secondary-12);
    --secondary-foreground-hover: var(--secondary-12);
    --secondary-foreground-active: var(--secondary-12);
    --secondary-foreground-selected: var(--secondary-12);
    --secondary-foreground-inverse: var(--secondary-2);
/*
    --accent: var(--gray-4);
    --accent-hover: var(--gray-9);
    --accent-active: var(--gray-8);
    --accent-selected: var(--gray-8);
    --accent-focus: var(--gray-1);
    --accent-disabled: var(--gray-1);
    --accent-inverse: var(--gray-1);
    --accent-text: var(--gray-10);
    --accent-foreground: var(--gray-12);
    --accent-inverse-hover: var(--gray-1);
    --accent-inverse-active: var(--gray-1);
    --accent-inverse-selected: var(--gray-1);
    --accent-inverse-focus: var(--gray-1);
    --accent-inverse-disabled: var(--gray-1);
    --accent-text-inverse: var(--gray-1);
    --accent-foreground-inverse: var(--gray-12); */

    --accent: var(--accent-8);
    --accent-hover: var(--accent-8);
    --accent-active: var(--accent-8);
    --accent-selected: var(--accent-8);
    --accent-focus: var(--accent-1);
    --accent-disabled: var(--accent-7);
    --accent-inverse: var(--accent-1);

    --accent-text: var(--accent-12);
    --accent-text-inverse: var(--accent-1);

    --accent-inverse-hover: var(--accent-1);
    --accent-inverse-active: var(--accent-1);
    --accent-inverse-selected: var(--accent-1);
    --accent-inverse-focus: var(--accent-1);
    --accent-inverse-disabled: var(--accent-1);

    --accent-overlay: var(--accent-a11);
    --accent-overlay-hover: var(--accent-a10);
    --accent-overlay-active: var(--accent-a10);
    --accent-overlay-selected: var(--accent-a11);

    --accent-muted: var(--accent-2);
    --accent-muted-hover: var(--accent-3);
    --accent-muted-active: var(--accent-4);
    --accent-muted-selected: var(--accent-5);

    --accent-foreground: var(--accent-12);
    --accent-foreground-hover: var(--accent-12);
    --accent-foreground-active: var(--accent-12);
    --accent-foreground-selected: var(--accent-12);
    --accent-foreground-inverse: var(--accent-2);

    --destructive: var(--tomato-8);
    --destructive-hover: var(--tomato-9);
    --destructive-active: var(--tomato-8);
    --destructive-selected: var(--tomato-8);
    --destructive-focus: var(--tomato-1);
    --destructive-disabled: var(--tomato-1);
    --destructive-inverse: var(--tomato-1);
    --destructive-text: var(--tomato-10);
    --destructive-foreground: var(--tomato-12);
    --destructive-inverse-hover: var(--tomato-1);
    --destructive-inverse-active: var(--tomato-1);
    --destructive-inverse-selected: var(--tomato-1);
    --destructive-inverse-focus: var(--tomato-1);
    --destructive-inverse-disabled: var(--tomato-1);
    --destructive-text-inverse: var(--tomato-1);
    --destructive-foreground-inverse: var(--tomato-12);
    --destructive-1: var(--tomato-1);
    --destructive-2: var(--tomato-2);
    --destructive-3: var(--tomato-3);
    --destructive-4: var(--tomato-4);
    --destructive-5: var(--tomato-5);
    --destructive-6: var(--tomato-6);
    --destructive-7: var(--tomato-7);
    --destructive-8: var(--tomato-8);
    --destructive-9: var(--tomato-9);
    --destructive-10: var(--tomato-10);
    --destructive-11: var(--tomato-11);
    --destructive-12: var(--tomato-12);
    --destructive-a1: var(--tomato-a1);
    --destructive-a2: var(--tomato-a2);
    --destructive-a3: var(--tomato-a3);
    --destructive-a4: var(--tomato-a4);
    --destructive-a5: var(--tomato-a5);
    --destructive-a6: var(--tomato-a6);
    --destructive-a7: var(--tomato-a7);
    --destructive-a8: var(--tomato-a8);
    --destructive-a9: var(--tomato-a9);
    --destructive-a10: var(--tomato-a10);
    --destructive-a11: var(--tomato-a11);
    --destructive-a12: var(--tomato-a12);

    --warning: var(--amber-8);
    --warning-hover: var(--amber-9);
    --warning-active: var(--amber-8);
    --warning-selected: var(--amber-8);
    --warning-focus: var(--amber-1);
    --warning-disabled: var(--amber-1);
    --warning-inverse: var(--amber-1);
    --warning-text: var(--amber-10);
    --warning-foreground: var(--amber-12);
    --warning-inverse-hover: var(--amber-1);
    --warning-inverse-active: var(--amber-1);
    --warning-inverse-selected: var(--amber-1);
    --warning-inverse-focus: var(--amber-1);
    --warning-inverse-disabled: var(--amber-1);
    --warning-text-inverse: var(--amber-1);
    --warning-foreground-inverse: var(--amber-12);
    --warning-1: var(--amber-1);
    --warning-2: var(--amber-2);
    --warning-3: var(--amber-3);
    --warning-4: var(--amber-4);
    --warning-5: var(--amber-5);
    --warning-6: var(--amber-6);
    --warning-7: var(--amber-7);
    --warning-8: var(--amber-8);
    --warning-9: var(--amber-9);
    --warning-10: var(--amber-10);
    --warning-11: var(--amber-11);
    --warning-12: var(--amber-12);
    --warning-a1: var(--amber-a1);
    --warning-a2: var(--amber-a2);
    --warning-a3: var(--amber-a3);
    --warning-a4: var(--amber-a4);
    --warning-a5: var(--amber-a5);
    --warning-a6: var(--amber-a6);
    --warning-a7: var(--amber-a7);
    --warning-a8: var(--amber-a8);
    --warning-a9: var(--amber-a9);
    --warning-a10: var(--amber-a10);
    --warning-a11: var(--amber-a11);
    --warning-a12: var(--amber-a12);

    --success: var(--green-8);
    --success-hover: var(--green-9);
    --success-active: var(--green-8);
    --success-selected: var(--green-8);
    --success-focus: var(--green-1);
    --success-disabled: var(--green-1);
    --success-inverse: var(--green-1);
    --success-text: var(--green-10);
    --success-foreground: var(--green-12);
    --success-inverse-hover: var(--green-1);
    --success-inverse-active: var(--green-1);
    --success-inverse-selected: var(--green-1);
    --success-inverse-focus: var(--green-1);
    --success-inverse-disabled: var(--green-1);
    --success-text-inverse: var(--green-1);
    --success-foreground-inverse: var(--green-12);
    --success-1: var(--green-1);
    --success-2: var(--green-2);
    --success-3: var(--green-3);
    --success-4: var(--green-4);
    --success-5: var(--green-5);
    --success-6: var(--green-6);
    --success-7: var(--green-7);
    --success-8: var(--green-8);
    --success-9: var(--green-9);
    --success-10: var(--green-10);
    --success-11: var(--green-11);
    --success-12: var(--green-12);
    --success-a1: var(--green-a1);
    --success-a2: var(--green-a2);
    --success-a3: var(--green-a3);
    --success-a4: var(--green-a4);
    --success-a5: var(--green-a5);
    --success-a6: var(--green-a6);
    --success-a7: var(--green-a7);
    --success-a8: var(--green-a8);
    --success-a9: var(--green-a9);
    --success-a10: var(--green-a10);
    --success-a11: var(--green-a11);
    --success-a12: var(--green-a12);

    --info: var(--blue-8);
    --info-hover: var(--blue-9);
    --info-active: var(--blue-8);
    --info-selected: var(--blue-8);
    --info-focus: var(--blue-1);
    --info-disabled: var(--blue-1);
    --info-inverse: var(--blue-1);
    --info-text: var(--blue-10);
    --info-foreground: var(--blue-12);
    --info-inverse-hover: var(--blue-1);
    --info-inverse-active: var(--blue-1);
    --info-inverse-selected: var(--blue-1);
    --info-inverse-focus: var(--blue-1);
    --info-inverse-disabled: var(--blue-1);
    --info-text-inverse: var(--blue-1);
    --info-foreground-inverse: var(--blue-12);
    --info-1: var(--blue-1);
    --info-2: var(--blue-2);
    --info-3: var(--blue-3);
    --info-4: var(--blue-4);
    --info-5: var(--blue-5);
    --info-6: var(--blue-6);
    --info-7: var(--blue-7);
    --info-8: var(--blue-8);
    --info-9: var(--blue-9);
    --info-10: var(--blue-10);
    --info-11: var(--blue-11);
    --info-12: var(--blue-12);
    --info-a1: var(--blue-a1);
    --info-a2: var(--blue-a2);
    --info-a3: var(--blue-a3);
    --info-a4: var(--blue-a4);
    --info-a5: var(--blue-a5);
    --info-a6: var(--blue-a6);
    --info-a7: var(--blue-a7);
    --info-a8: var(--blue-a8);
    --info-a9: var(--blue-a9);
    --info-a10: var(--blue-a10);
    --info-a11: var(--blue-a11);
    --info-a12: var(--blue-a12);

    --link: var(--primary-10);
    --link-hover: var(--primary-11);
    --link-active: var(--primary-11);
    --link-focus: var(--primary-11);
    --link-disabled: var(--primary-8);
    --link-selected: var(--primary-11);

    --border: var(--gray-a4);
    --border-hover: var(--gray-a5);
    --border-active: var(--gray-a5);
    --border-disabled: var(--gray-a3);
    --border-selected: var(--gray-a5);

    --input: var(--gray-a5);
    --input-hover: var(--gray-a4);
    --input-active: var(--gray-a5);
    --input-disabled: var(--gray-a2);
    --input-selected: var(--gray-a6);

    --ring: var(--gray-5);
    --ring-hover: var(--gray-a4);
    --ring-active: var(--gray-a5);
    --ring-disabled: var(--gray-a2);
    --ring-selected: var(--gray-a6);

    --brand: var(--iris-1);
    --brand-hover: var(--iris-2);
    --brand-active: var(--iris-3);
    --brand-selected: var(--iris-4);
    --brand-focus: var(--iris-a3);
    --brand-disabled: var(--iris-a2);
    --brand-inverse: var(--iris-11);
    --brand-inverse-hover: var(--iris-10);
    --brand-inverse-active: var(--iris-9);
    --brand-inverse-selected: var(--iris-8);
    --brand-inverse-focus: var(--iris-9);
    --brand-inverse-disabled: var(--iris-6);
    --brand-text: var(--iris-12);
    --brand-text-inverse: var(--iris-1);
    --brand-foreground: var(--iris-11);
    --brand-foreground-inverse: var(--iris-1);

    --popover: var(--gray-1);
    --popover-hover: var(--gray-2);
    --popover-active: var(--gray-3);
    --popover-selected: var(--gray-4);
    --popover-focus: var(--gray-a3);
    --popover-disabled: var(--gray-a2);
    --popover-inverse: var(--gray-11);
    --popover-inverse-hover: var(--gray-10);
    --popover-inverse-active: var(--gray-9);
    --popover-inverse-selected: var(--gray-8);
    --popover-inverse-focus: var(--gray-9);
    --popover-inverse-disabled: var(--gray-6);
    --popover-text: var(--gray-12);
    --popover-text-inverse: var(--gray-1);
    --popover-foreground: var(--gray-11);
    --popover-foreground-inverse: var(--gray-1);

    --card: var(--gray-1);
    --card-layer-1: var(--gray-3);
    --card-hover: var(--gray-2);
    --card-active: var(--gray-3);
    --card-selected: var(--gray-4);
    --card-focus: var(--gray-a3);
    --card-disabled: var(--gray-a2);
    --card-inverse: var(--gray-11);
    --card-inverse-hover: var(--gray-10);
    --card-inverse-active: var(--gray-9);
    --card-inverse-selected: var(--gray-8);
    --card-inverse-focus: var(--gray-9);
    --card-inverse-disabled: var(--gray-6);
    --card-text: var(--gray-12);
    --card-text-inverse: var(--gray-1);
    --card-foreground: var(--gray-11);
    --card-foreground-inverse: var(--gray-1);

    /* Duration */
    --durationUltraFast: 50ms;
    --durationFaster: 100ms;
    --durationFast: 150ms;
    --durationNormal: 200ms;
    --durationGentle: 250ms;
    --durationSlow: 300ms;
    --durationSlower: 400ms;
    --durationUltraSlow: 500ms;

    /* Curve */
    --curveAccelerateMax: cubic-bezier(0.9, 0.1, 1, 0.2);
    --curveAccelerateMid: cubic-bezier(1, 0, 1, 1);
    --curveAccelerateMin: cubic-bezier(0.8, 0, 0.78, 1);
    --curveDecelerateMax: cubic-bezier(0.1, 0.9, 0.2, 1);
    --curveDecelerateMid: cubic-bezier(0, 0, 0, 1);
    --curveDecelerateMin: cubic-bezier(0.33, 0, 0.1, 1);
    --curveEasyEaseMax: cubic-bezier(0.8, 0, 0.2, 1);
    --curveEasyEase: cubic-bezier(0.33, 0, 0.67, 1);
    --curveLinear: cubic-bezier(0, 0, 1, 1);
  }

  .dark:root, [data-theme="dark"]:root {

    --chart-1: var(--primary-a10);
    --chart-2: var(--green-a9);
    --chart-3: var(--orange-a10);
    --chart-4: var(--blue-a9);
    --chart-5: var(--crimson-a9);
    --color-1: var(--primary-a10);
    --color-2: var(--green-a9);
    --color-3: var(--orange-a10);
    --color-4: var(--blue-a9);
    --color-5: var(--crimson-a9);

    --color-today: var(--primary-9);
    --color-average: var(--gray-8);
    --color-desktop: var(--chart-1);
    --color-mobile: var(--chart-2);
  }

.font-siteheader {
  font-family: "Bahnschrift", "Segoe UI", "Segoe UI Web (West European)", -apple-system;
  @apply uppercase lg:tracking-[0.05rem] xl:tracking-[0.1125rem];

  /* &.text-xs {
    font-family: "Bahnschrift", "Segoe UI", "Segoe UI Web (West European)", -apple-system;

  } */
}

.sparkstack-hero-h1 {
  mask-image: radial-gradient(65.78% 289.42% at 0% 100%, var(--primary-12) 0%, var(--primary-11) 25%, rgba(0, 0, 0, 0.00) 100%), var(--primary-a3);
  background: radial-gradient(65.78% 289.42% at 0% 100%, var(--primary-12) 0%, var(--primary-11) 25%, rgba(0, 0, 0, 0.00) 100%), var(--primary-a3);
  mask-clip: fill-box;
  -webkit-mask-clip: text;
  mask-size: 100% 100%;
  /* mask-position: center; */
  mask-repeat: no-repeat;
}

.sparkstack-hero-h2 {
  mask-image: linear-gradient(90deg, var(--gray-12) 14.1%, var(--gray-11) 27.5%, transparent 100%), linear-gradient(90deg, var(--gray-12) 14.1%, var(--gray-9) 27.5%, transparent 100%);
  background: linear-gradient(90deg, var(--gray-12) 14.1%, var(--gray-11) 27.5%, transparent 100%), linear-gradient(90deg, var(--gray-12) 14.1%, var(--gray-9) 27.5%, transparent 100%);
  mask-clip: fill-box;
  -webkit-mask-clip: text;
 mask-size: 100% 100%;
  /* mask-position: center; */  mask-repeat: no-repeat;
}

.sparkstack-hero-h3 {
  mask-image: radial-gradient(104.16% 140.58% at 0.87% 0%, var(--gray-12) 0%, var(--gray-9) 52.31%, transparent 100%), var(--gray-a2);
  background: radial-gradient(104.16% 140.58% at 0.87% 0%, var(--gray-12) 0%, var(--gray-9) 52.31%, transparent 100%), var(--gray-a2);
  mask-clip: fill-box;
  -webkit-mask-clip: text;
  mask-size: 100% 100%;
  /* mask-position: center; */
  mask-repeat: no-repeat;
}

::-webkit-scrollbar {
  background-clip: content-box;
  background-color: var(--gray-a1) !important;
  border: 0px solid transparent !important;
  scroll-behavior: smooth;
  width:3px;
  height:3px;
  scrollbar-gutter: stable both-edges;
}
::-webkit-scrollbar-button {
  background-color: var(--gray-a1) !important;
  border: 0px solid transparent !important;
  border-radius: 9999px !important;
  width:3px;
  height:3px;
}
::-webkit-scrollbar-corner {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  border-radius: 9999px !important;
  width:3px;
  height:3px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray-a3) !important;
  border-radius: 9999px !important;
  width:3px;
  height:3px;
}
::-webkit-scrollbar-track {
  background-color: var(--gray-a1) !important;
  border-right-width: 0 !important;
  border-radius: 9999px !important;
  width:3px;
  height:3px;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  border-radius: 9999px !important;
  width:3px;
  height:3px;
}


}

@layer base {

  .themes-wrapper {
  }

  * {
    @apply border-border;
    border-color: var(--border);
    /* scrollbar-gutter: stable; */
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    @apply scroll-smooth overflow-x-hidden;
  }
  body {
    @apply bg-background text-foreground overscroll-none;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis: none;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .text-xs {
    @apply font-sans font-medium !text-[0.76rem];
    font-synthesis: none;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-stretch: 120%;
    font-variation-settings: "wdth" 120; */
  }

  @supports (font: "var(--font-sans)", -apple-system-body, sans-serif) and
    (-webkit-appearance: none) {
    [data-wrapper] {
      @apply min-[1800px]:border-t;
    }
  }

  .sparkstack-border {
    @apply border border-gray-2 shadow-[inset_0_0_12px_1px_var(--gray-1)] focus-visible:border-gray-3 outline outline-1 -outline-offset-[2px] outline-gray-3 focus-visible:outline-gray-a3 ring-1 ring-gray-4 focus-visible:ring-gray-5 ring-offset-[0px] ring-offset-gray-1 focus-visible:ring-offset-gray-1 ;
  }
  .sparkstack-input {
    @apply sparkstack-border flex h-8 w-full rounded-md bg-background px-3 py-1 text-base file:border-0 file:bg-transparent file:text-sm file:font-medium file:text-foreground placeholder:text-muted-foreground disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;

  }

.gradientMask-to-t {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradientMask-to-t-50 {
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 0) 125%,
    rgba(0, 0, 0, 1) 0%
  );
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 55%,
    rgba(0, 0, 0, 0) 125%,
    rgba(0, 0, 0, 1) 0%
  );
}
.gradientMask-to-t-20 {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradientMask-to-t-10 {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradientMask-to-b {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradientMask-to-b-20 {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 20%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 20%
  );
}
.gradientMask-to-b-10 {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 10%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 10%
  );
}
.gradientMask-to-b-40 {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 40%
  );
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 40%
  );
}
.gradientMask-to-l {
  mask-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.gradientMask-to-r {
  mask-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.gradientMask-to-br {
  mask-image: radial-gradient(102.79% 171.95% at 50.21% -100.81%, rgba(217, 217, 217, 1) 78.8%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: radial-gradient(102.79% 171.95% at 50.21% -100.81%, rgba(217, 217, 217, 1) 78.8%, rgba(0, 0, 0, 0) 100%);
}
}


.marquee-section-mask, .packages-marquee-mask {
  mask-image: linear-gradient(
      92.03deg,
      rgba(0, 0, 0, 0) 3.05%,
      #000000 25%,
      #000000 50%,
      #000000 75%,
      rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
}


@layer utilities {
  .animation-running {
      animation-play-state: running;
  }
  .animation-initial {
      animation-play-state: initial;
  }
  .animation-paused {
      animation-play-state: paused;
  }
  .animation-slower-speed {
      animation-duration: 5s;
  }
  .animation-slow-speed {
      animation-duration: 4s;
  }
  .animation-normal-speed {
      animation-duration: 3s;
  }
  .animation-fast-speed {
      animation-duration: 2s;
  }
  .animation-faster-speed {
      animation-duration: 1s;
  }
  .scrollbar-hidden {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
  .scrollbar-hidden::-webkit-scrollbar {
      display: none;
  }

  .landing-marquee-mask {
    mask-image: radial-gradient(99.46% 100% at 140.00% 50.11%, white 0%, rgba(115, 115, 115, 0.00) 100%);
    /* mask-image: radial-gradient(99.46% 127.27% at 129.22% 50.11%, white 0%, rgba(115, 115, 115, 0.00) 100%); */
  }


  .landing-wide-mask {
      mask-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0) 1%,
          rgba(0, 0, 0, 1) 20%,
          rgba(0, 0, 0, 1) 80%,
          rgba(0, 0, 0, 1) 99%,
          rgba(0, 0, 0, 0) 100%
      );
      mask-size: 1920px 100%;
      mask-position: center;
      mask-repeat: no-repeat;
  }
  .landing-playground-slide-mask {
      mask-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.4) 30%,
          rgba(0, 0, 0, 1) 37.5%,
          rgba(0, 0, 0, 1) 65%,
          rgba(0, 0, 0, 0.4) 75.5%,
          rgba(0, 0, 0, 0.2) 100%
      );
      mask-size: 100% 100%;
      mask-position: center;
      mask-repeat: no-repeat;
  }

  .bg-landing-component-dark {
      background: radial-gradient(
              66.67% 50% at 50% 0%,
              rgba(108, 119, 147, 0.15) 0%,
              rgba(108, 119, 147, 0) 100%
          ),
          radial-gradient(
              66.67% 50% at 50% 100%,
              rgba(108, 119, 147, 0.05) 0%,
              rgba(108, 119, 147, 0) 100%
          ),
          var(--900, #14141f);
  }

  .bg-landing-component {
      border-radius: 8px;
      background: radial-gradient(
              66.67% 50% at 50% 0%,
              rgba(31, 173, 102, 0.25) 0%,
              rgba(31, 173, 102, 0) 100%
          ),
          radial-gradient(
              66.67% 50% at 50% 100%,
              rgba(31, 173, 102, 0.1) 0%,
              rgba(31, 173, 102, 0) 100%
          ),
          linear-gradient(
              0deg,
              rgba(31, 173, 102, 0.03) 0%,
              rgba(31, 173, 102, 0.03) 100%
          ),
          #fff;
  }
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex items-center justify-center font-mono text-base font-medium text-center border-4 rounded-2xl w-9 h-9 bg-muted backdrop-blur -indent-px border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute border shadow-xl -inset-4 rounded-xl;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  .container-wrapper {
    @apply min-[1800px]:border-x border-border dark:border-border mx-auto w-full;
    /* @apply min-[1800px]:max-w-[1536px] min-[1800px]:border-x border-border dark:border-border mx-auto w-full; */
  }

  .container {
    /* @apply px-4 xl:px-6 2xl:px-4 mx-auto max-w-[1536px]; */
    @apply px-4 xl:px-6 2xl:px-2 w-full mx-auto;
  }

}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

@media (min-width: 1536px) {
  .container {
    @apply px-4;
  }
}

@media (min-width: 1600px) {
  .container {
      max-width: 1900px;
  }
}

.landing-mask-image-hero-wide {
  @apply landing-xl:landing-wide-mask;
}

[data-lastpass-icon-root], input[data-lastpass-icon-root], div[data-lastpass-root], data-lastpass-root, [data-lastpass-root] {
  display: none;
  visibility: hidden;
}


.recharts-cartesian-axis-tick_text,
.recharts-cartesian-grid_line,
.recharts-curve.recharts-tooltip-cursor,
.recharts-dot,
.recharts-layer,
.recharts-polar-grid,
.recharts-radial-bar-background-sector,
.recharts-rectangle.recharts-tooltip-cursor,
.recharts-reference-line_,
.recharts-sector,
.recharts-sector,
.recharts-surface {
  stroke: var(--border);
}

.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis line.recharts-cartesian-axis-line {
  stroke: var(--border);
  /* @apply translate-y-1; */
}

#bar-chart svg g.recharts-cartesian-grid g > line, #area-chart svg g.recharts-cartesian-grid g > line, svg.recharts-surface g.recharts-cartesian-grid g.recharts-cartesian-grid-horizontal line {
  stroke: var(--gray-2);
  color: var(--foreground);
}

svg.recharts-surface g.recharts-polar-grid g.recharts-polar-grid-concentric circle, svg.recharts-surface g.recharts-polar-grid g.recharts-polar-grid-angle line, svg.recharts-surface g.recharts-polar-grid g.recharts-polar-grid-concentric path, svg.recharts-surface g.recharts-polar-grid g.recharts-polar-grid-angle line {
  stroke: var(--gray-2);
  color: var(--foreground);
}

svg.recharts-surface g.recharts-layer g text tspan {
  color: var(--foreground);
}

svg.recharts-surface g.recharts-cartesian-grid {
  @apply rounded-xl overflow-hidden;
}


.bg-feature-card {
  background: radial-gradient(65.78% 289.42% at 0% 100%, var(--gray-12) 0%, var(--gray-1) 25%, rgba(0, 0, 0, 0.00) 100%), var(--gray-a3);
}


.bg-feature-test {
/* border: 1px solid rgba(255, 255, 255, 0.00); */
background: linear-gradient(85deg, rgba(0, 0, 0, 0.0) 0.75%, var(--gray-a7) 9.55%, rgba(255,255,255,0.8) 25%, var(--gray-a7) 43.87%, rgba(0, 0, 0, 0.0) 51.08%), linear-gradient(0deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%), linear-gradient(80deg, rgba(0, 0, 0, 0.0) 00.75%, var(--gray-a7) 8.55%, rgba(0, 0, 0, 0.0) 15%, var(--gray-a3) 33.87%, rgba(0, 0, 0, 0.0) 91.08%), rgba(255,255,255,0.10);
}
