@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-Air.woff2') format('woff2'),
        url('AeonikMono-Air.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-Thin.woff2') format('woff2'),
        url('AeonikMono-Thin.woff') format('woff');
    font-weight: 200, thin;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-Light.woff2') format('woff2'),
        url('AeonikMono-Light.woff') format('woff');
    font-weight: 300, light;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-Regular.woff2') format('woff2'),
        url('AeonikMono-Regular.woff') format('woff');
    font-weight: 400, normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-Medium.woff2') format('woff2'),
        url('AeonikMono-Medium.woff') format('woff');
    font-weight: 500, medium;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-SemiBold.woff2') format('woff2'),
        url('AeonikMono-SemiBold.woff') format('woff');
    font-weight: 600, semibold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-Bold.woff2') format('woff2'),
        url('AeonikMono-Bold.woff') format('woff');
    font-weight: 700, bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AeonikMono';
    src: url('AeonikMono-Black.woff2') format('woff2'),
        url('AeonikMono-Black.woff') format('woff');
    font-weight: 900, black;
    font-style: normal;
    font-display: swap;
}

