---
import BaseHead from "../components/BaseHead.astro";
import { TailwindIndicator } from "../components/tailwind-indicator"
---

<html lang="en" class="">
  <head>
    <BaseHead title="Prepare" description="Prepare" />
  </head>
  <body>
    <main class="flex flex-col min-h-dvh max-w-dvw w-full overflow-x-hidden overflow-y-auto items-center justify-center place-content-center place-items-center">
      <slot />
    </main>
    <TailwindIndicator />
  </body>
</html>
