---
import '../styles/global.css'
import '@/styles/sparkstack_globals.css'
import '../env.d.ts'
---

<html lang="en" class="dark">
  <head>
    <title>Prepare</title>
    <!-- <link rel="stylesheet" type="text/css" href="../../../www/styles/sparkstack_globals.css" /> -->
  </head>
  <body>
    <main class="flex flex-col min-h-dvh w-full overflow-x-hidden overflow-y-auto items-center justify-center place-content-center place-items-center">
      <slot />
    </main>
  </body>
</html>
<script>
  document.documentElement.classList.add('dark')
  // import('@/styles/sparkstack_globals.css').then((res) => {
  //   const link = document.createElement('link')
  //   link.href = "www/styles/sparkstack_globals.css"
  //   link.rel = 'stylesheet'
  //   document.head.appendChild(link)
  // })
</script>
